<h1>Sign In</h1>

<%= bootstrap_form_for(:session, url: sessions_path, layout: :horizontal) do |f| %>

      <%= f.text_field :email %>

      

  <%= f.form_group do %>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
  <% end %>

    <%= f.form_group do %>
       <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  <% end %>
<% end %>

    