<% if signed_in? %>
  (Logged in: <%= current_user.name %>)
  <%= link_to "Sign Out", signout_path, method: "delete" %>
<% else %>
  <%= link_to "Sign In", signin_path %>
<% end %>


<h1>User Profile</h1>


<%= @user.name %>
<br>
<%= @user.email %>

<h2>Created Events</h2>
<% @user.events.each do |event| %>
  <p> Location: <%= event.location %> </p>
  <p> Description: <%= event.description %> </p>

<% end %>

<h2>Upcoming Events</h2>
<p><%= @user.name %> is attending:</p>

<% @upcoming_events.each do |event| %>
  <p> Location: <%= event.location %> </p>
  <p> Description: <%= event.description %> </p>
  <p> Date: <%= event.date %> </p>

<% end %>

<h2>Previous Events</h2>
<p><%= @user.name %> attended:</p>

<% @previous_events.each do |event| %>
  <p> Location: <%= event.location %> </p>
  <p> Description: <%= event.description %> </p>
  <p> Date: <%= event.date %> </p>

<% end %>