<table class="table table-condensed">   
  <thead>
    <tr>
      <td class="col-sm-2">Date</td>
      <td class="col-sm-4">Title</td>
      <td class="col-sm-3">Location</td>
      <td class="col-sm-2">Host</td>
      <td class="col-sm-1">Attend</td>
    </tr>
  </thead>

  <% object.each do |event| %>
  <tr>
    <td><%= event.date %></td>
    <td><%= link_to event.title, event_path(event) %></td>
    <td><%= event.location %></td>
    <td><%= link_to event.creator.name, user_path(event.creator) %></td>
    <td class="text-center"><%= link_to event.attendees.count, event_path(event) %></td>
  </tr>
  <% end %>   
</table>

