<h1><%= @event.title %></h1>

<% if host?(@event.creator) %>
<div class="text-center">
<%= link_to "Invite Friends", "#", class: "btn btn-success" %>
</div>
<% end %>

<p><b>Location: </b><%= @event.location %></p> 
<p><b>Host: </b><%= @event.creator.name %></p>

<p><%= @event.description %></p>

</br>

<b>Who's Going:</b>

<ol>
<% @event.attendees.each do |attendee| %>
   <li><%= link_to attendee.name, attendee %></li>

<% end %>
</ol>

