<!DOCTYPE html>
<html>
<head>
  <title>PrivateEvents</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render 'layouts/header' %>
    <%= yield %>
    <div class="footer">
      <p>An event planning application, by <a href="https://twitter.com/Jberczel">@jberczel</a>.</p>
    </div>
  </div> <!-- /container -->

</body>
</html>
